<footer id="footer-bar">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner" id="footer-bar-base">
            <div class="container">
            	<!-- Any footer content goes here -->
            </div> 		
        </div>		
    </div> 				
</footer>