<div class="container"> 
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" id="header-bar-base">
          <div class="container">
              <a href="http://www.du.edu/index.html" title="University of Denver Home Page" target="_blank"><img id="logo" src="http://www.du.edu/_resources/images/nav/logo2.gif" alt="University of Denver" width="140" height="40" /></a>
          </div>  
      </div>    
    </div>      
</div>