<div class="container"> 
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" id="header-bar-base">
          <div class="container">
              <a href="http://www.du.edu/index.html" title="University of Denver Home Page" target="_blank"><img id="logo" src="http://www.du.edu/_resources/images/nav/logo2.gif" alt="University of Denver" width="140" height="40" /></a>

              <!-- DU / DU Library search bar -->
              <!--script>
                var glbSearch = "library";
                function HandleSearch(e, text){var CharCode = e.keyCode? e.keyCode : e.charCode; if(CharCode == 13){DoOtherSearch(text); return false;}else{return true;}}
                function DoOtherSearch(text){if(text != 'Search' && text != ''){location.href='http://search.du.edu/search?site='+glbSearch+'&client='+glbSearch+'&proxystylesheet='+glbSearch+'&output=xml_no_dtd&lr=&ie=utf8&oe=utf8&q=' + text.replace(' ', '+');}}
                function DoDUSearch(text){if(text != 'Search' && text != ''){location.href='http://search.du.edu/search?site=du_collection&client=du_frontend&proxystylesheet=du_frontend&output=xml_no_dtd&lr=&ie=utf8&oe=utf8&q=' + text.replace(' ', '+');}}
              </script>

              <section class="searchContainer">
              <ol class="headerSearchNav">
                <li><a rel="search" id="duSearch" href="#" onclick='DoDUSearch(document.getElementById("q").value); return false;'>Search DU</a></li>
                <li><a rel="search" id="otherSearch" href="#" onclick='DoOtherSearch(document.getElementById("q").value); return false;'>Search <span><script type="text/javascript">if(typeof(glbSearch) != "undefined")document.write(glbSearch);</script></span></a></li>
              </ol>
              <div class="headerSearch">
                <input name="q" type="search" id="q" placeholder="Search" maxlength="255" dir="ltr" required="required" onKeyPress="return HandleSearch(event,this.value);" onKeyDown="return HandleSearch(event,this.value);" />
              </div>
              <nav id="globalUtilities">
                <ol>
                  <li><a href="http://www.du.edu/directory/" title="link to university directory">Directory</a>&nbsp;|</li>
                  <li><a href="http://www.du.edu/utilities/az/index.html" title="link to a-z directory">A-Z</a>&nbsp;|</li>
                  <li><a href="http://www.du.edu/utilities/sitemap/index.html" title="link to site map">Site Map</a></li>
                </ol>
              </nav>
            </section-->
            <!-- END DU / DU Library search bar -->

          </div>  
      </div>    
    </div>      
</div>