<div class="container"> 
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" id="header-bar-base">
          <div class="container">
              <a href="http://www.du.edu/index.html" title="link to university of denver home page"><img id="logo" src="http://www.du.edu/_resources/images/nav/logo2.gif" alt="University of Denver" width="140" height="40" /></a>
      <span class="pull-right smalltext"/>
      <!-- Any additional header content goes here -->
          </div>  
      </div>    
    </div>      
</div>