

<% if @response.total_pages > 1 %>
	<div id="pagination-footer">
	  <div class="row record-padding">
	    <div class="col-md-9" id="pagination-elements"> 
	      <div class="pagination">
	        <%= paginate @response, :outer_window => 2, :theme => 'blacklight' %>
	      </div>
	    </div>
	  </div>
	</div>

<% else %>

<% end %>

