<p>&nbsp;</p>
<h3><%= 'Search Special Collections' %></h3>
<p>&nbsp;</p>
<p id="home-text">This page provides users the option to search across the University Libraries’ special collections, digitized, and born-digital content in a single location. The University Libraries uses Blacklight as a common search index for its <%= link_to t('special collections finding aids'), "http://digital.library.du.edu/findingaids", target: "_blank" %> and <%= link_to t('digital repository'), "http://digitaldu.coalliance.org/fedora/repository", target: "_blank" %>. We intend to add more digital content and archival content sources as they become available. More information about the services currently indexed through Blacklight may be found below.</p>
<p>&nbsp;</p>





