<!-- Blacklight DU main search interface -->

<div id="aac-banner-image">
	<img src="assets/aerial-aac.jpg" alt="Aerial view of front of the Anderson Academic Commons" height="167" width="968" />
</div>

<%= render :partial=>'home_text' %>

<div id="related-articles">

	<article class="floatbox">
		<h4>Digital DU :</h4>
		<h4>A Service Of University of Denver Libraries</h4>
		<p>&nbsp;</p>
		<p>Digital DU, a service of the University of Denver Libraries, collects, preserves, and disseminates digital assets that are of historical or significant value to the University of Denver.</p>
		<p>The repository contains a wide variety of materials ranging in subject matter. Some of the materials in the repository were created by DU faculty, staff, and students, while others are digital assets acquired by DU to support the university’s mission of research, teaching, and learning.</p>
	</article>

	<article class="floatbox">
		<h4>Special Collections:</h4>
		<h4>University Libraries Finding Aids</h4>
		<p>&nbsp;</p>
		<p>Special Collections & Archives houses rare books and manuscript collections, including the University Archives, the Ira M. Beck and Peryle Hayutin Beck Memorial Archives of Rocky Mountain Jewish History, the Carson Brierly Giffin Dance Library, the Husted Cookery Collection, and significant collections of fine press and artists' books, skiing books and ephemera.</p>
		<p>The University Archives contains records of the University of Denver (DU) from its founding in 1864 to the present.</p>
	</article>

</div>