/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "variables";

@import "bootstrap";

@import 'blacklight/blacklight';

/* Main DU Template Rules 
 * Overridden Bootstrap Rules for Blacklight - App Template */

body {

	background-color: #8b2332;
}

label {

	font-weight: bold;
}

h4, h3 {
	
	font-weight: bold;
}

p {
	
	padding-left: 20px;
}
p#home-text {
	
	font-size: 16px;
}

a:hover {

	color: #DDDDDD;
}

dt[class*='blacklight-'] {
	
	color: #8b2332;
	font-weight: bold;
}

td dt[class*='blacklight-'] {
	
	color: #8b2332;
	font-weight: normal;
}

div[id*='doc_codu-'] dl dd{
	
	font-size: 18px;
}

div[id*='doc_codu-'] h1,
div[id*='doc_'] h1 {
	
	font-size: 28px;
	margin-left: 35px;
}

img.tn-image {
	
	height: 140px;
	width: 120px;
}

span#still-image-tn {
	
}

div#bg-container {
	
	background-color: #e5e3e1;
}

/* DU Logo Bar */
.navbar-inner{

	/* ALL values in this block must be changed to set the DU logo bar color, gradient or flat */
	background-color:#8b2332;
	background-image:-moz-linear-gradient(top,#8b2332,#8b2332);
	background-image:-ms-linear-gradient(top,#8b2332,#8b2332);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#8b2332),to(#8b2332));
	background-image:-webkit-linear-gradient(top,#8b2332,#8b2332);
	background-image:-o-linear-gradient(top,#8b2332,#8b2332);
	background-image:linear-gradient(top,#8b2332,#8b2332);

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b2332',endColorstr='#8b2332',GradientType=0);
}

.navbar .nav> li > a:hover {

	color:#fff
}

.navbar .nav .active > a ,.navbar .nav .active > a:hover {

	color:#fff;
	background-color:#5a001a;
}

.navbar .nav .dropdown-toggle .caret {

	border-top-color:white!important;
	border-bottom-color:white!important;
}

/* 'Link navbar' anchor properties */
.bannersNav a {
	
	/*color: #000000;
	margin-top: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-size: 16px;*/
}

.bannersNav li > a:hover {

	/*background-color:#a89968;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	padding-left: -10px;
	padding-right: -10px;
	font-size: 14px;*/
}

/* 'Link navbar' list */
.nav-tabs {
    border-bottom: 0px solid #ddd;
}

/* 'Link navbar' list items (individual link sections) */
.navbar-item {

	border-right:1px solid #D0C8AC;
	width: 140px;
	text-align: center;
}

.navbar .brand {

	margin-left: 0px;
}


/* Page specific label */
.generic-label {

	padding: 20px;
	font-size: 19px;
	font-weight: bold;
}

/* Main content area */
.content-window {

	height: auto;
	min-height: 800px;
	margin-top: 165px;
	padding-bottom: 50px;
	/*max-height: 1100px;
	overflow-x: hidden;*/


	background-color: #FFFFFF;
	/*border-style: solid;
	border-color: #515155;*/

	/*box-shadow: 0px 0px 25px 3px #888888;*/
}

.container {

	width: 1300px;
  	margin-right: none;
  	margin-left: none;
  	padding-left: 0px;
  	padding-right: 0px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 1300px; } }
  @media (min-width: 992px) {
    .container {
      width: 1300px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1300px; } 
  }

article.floatbox { 

	width:435px; 
	height:375px; 
	margin:0 10px 20px 20px; 
	padding:20px; 
	float:left; 
	border:solid; 
	border-color:#a89968; 
	border-width:1px; 
	border-radius:10px
}
article.floatbox a {
	
	color: #8b2332;
}

/* Form background */
.well {

    background-color: #C0C0C0;
    border: 10px solid #ffffff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);  

    padding: 19px;
    margin-bottom: 10px;   
}

.copyright-text {

	font-size: 12px;
	text-align: center;
	color: #8b2332;
	font-weight: bold;
	position: relative;
	bottom: 25px;
}

.btn-primary {
	
	color:#DDDDDD;
	text-shadow:0 -1px 0;
	background-color:#8b2332;
	*background-color:#8b2332;
	background-image:-moz-linear-gradient(top,#8b2332,#8b2332);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#8b2332),to(#8b2332));
	background-image:-webkit-linear-gradient(top,#8b2332,#8b2332);
	background-image:-o-linear-gradient(top,#8b2332,#8b2332);
	background-image:linear-gradient(to bottom,#8b2332,#8b2332);
	background-repeat:repeat-x;
	border-color:#8b2332 #8b2332 #8b2332;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b2332',endColorstr='#8b2332',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

/* DU logo */
#logo {

	margin-top: 5px;
}
#logo-link {

	margin-left: -15px;
}

#app-title {

	height: 53px;
}

/* 'file tab' element */
#app-title-box { 

	background-color: #454545;
	width: 312px;
	height: 45px;
	margin-top: 50px;

	text-align: center;
	color: #FFFFFF;
	padding-top: 7px;
	font-size: 1.8em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 

	position: relative;
	top: 28px;
	left: 0px;
    z-index: 1;
}

#app-title-box a {
	
	font-size: 1.0em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
#app-title-box a:hover {
	
	text-decoration: none;
}

#header-bar-base {

	height: 52px; /* Height of DU logo bar */
}

#footer-bar-base {

	background-color: #8b2332;
	position: relative;
	width: 100%;
	bottom: 0px;
	z-index: 500;
}

a.btn {
	
	font-size: 13px;
}

div.pull-right a {
	
	color: black;
	background-color: white;
	font-size: 16px;
	/*font-weight: bold;*/
}

div.pull-right.search-widgets a {
	
	background-color: #dedede;
	color: #454545;
}

div.pull-right.search-widgets > a:hover {
	
	color: #454545;
}

div#content a.btn-danger {
	
	color: #454545;
}

div#sort-dropdown button a, 
div#per_page-dropdown button a {
	
	background-color: white;
}

.panel-default > .panel-heading {

  color: #333333;  
  background-color: #dedede;
  border-color: #dddddd;
}

.panel-default {
	
	margin-top: 35px;
}

div#previousNextDocument {
	
	padding-bottom: 25px;
	padding-top: 15px;
}

div.page_links {
	
	color: black;
	font-size: 17px;
}

span.constraints-label {
	
	font-size: 13px;
}

div.pagination {
	
}

div#footer-content {
	
	text-align: center;
	padding: 30px 10px 0px 10px;
	color: #e5e3e1;
}

div#footer-content a {

}

div#pagination-footer {
	
	height: 50px;
	background-color: #8b2332;
	width: 100%;
	bottom: auto; 
	opacity:0.8;
	z-index: 100;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

div#nav-bar.bannersNav {
	
	margin-top: -95px;
}

div#nav-bar.container.bannersNav {
	
	margin-top: 0px;
	margin-left: 90px;
}

/* Main 'link navbar' settings */
#nav-bar {

	background-color:#a89968;
	height: 120px;
	width: 700px;
	margin-left: 0px;
	padding: 0px;
}

/* 
 * Blacklight specific css rules
 */



.navbar-brand {

	width: 150px;
    height: 50px;
	background:transparent image_url('du-logo2.gif') no-repeat top left;
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	padding-right:0;
	margin-right:20px;
	padding-left: 0;
}

div.row {

	width: 1300px;
	padding-left: 15px;
	padding-right: 15px;
}

.panel-group .panel {

  margin-bottom: 0;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}

.input-group {

	width: 690px;
	margin-top: 35px;
	margin-left: 20px;
}

/*span.input-group-addon {
	
	width: 50px;
}*/

#search-field-dropdown {
	
	width: 50px;
}

@-moz-document url-prefix() {
	
	#search {
	
		height: 45px;
	}

	#q.form-control {
		
		height: 47px;
	}

	span#search-field-dropdown.input-group-addon {

		height: 40px;
	}
}

ul.util-links {
	
	list-style-type: none;
}

ul.util-links li {
	
	padding: -1px;
	margin-top: 7px;
}

ul.util-links li a {
	
	color: white;
	font-size: 17px;
	font-weight: bold;
}

ul.util-links li a:hover {
	
	color: #8b2332;
	text-decoration: none;
}

div#content {

	margin-top: 10px;
	padding: 20px;
}

div#content h3 {
	
	/*padding-bottom: 20px;*/
}

div.row.record-padding {
	
	margin: 0 auto;
}

div#pagination-elements.col-md-9 {
	
	margin-left: 365px;
}

.pagination {
	
	margin-top: 5px;
}

ul.pagination li {
	
	
}

ul.pagination li a {
	
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	background-color: #8b2332;
	border: 0px;
}

ul.pagination li.disabled a {
	
	background-color: #8b2332;
	color: white;
}

ul.pagination li.active a {
	
	background-color: #a89968;
	border-radius: 10px;
	color: #000000;
}

ul.pagination li a:hover {
	
	border-radius: 10px;
	color: black;
}

table#table {
	
	width: 100%;
}

td#navbar-logo-section {
	
	width: 10%;
}

td#util-links-section {
	
	width: 15%;
	padding-left: 13px;
}

td#searchbar-section {
	
	width: 75%;
}

td#navbar-logo-section {
	
	padding-left: 15px;
}

div#side-bar.col-md-3 {
	
	margin-right: 0px;
}

div#facets.facets.sidenav/*, div#content.col-md-9*/ {
	
	border-style: solid;
	border-width:3px;
	border-color: #a89968;
	margin-top: 15px;
	border-radius: 10px;
}

div.facet-tn-section{
	
	height: 32px;
}

li.facet-item {
	
	height: 30px;
	max-height: 30px;
	padding-bottom: 0px;
}

div#content.col-md-9 {
	
	padding: 20px 0px 0px 0px;
	margin-top: 0px;
}

div#content.col-md-9.show-document {
	
	padding: 20px 20px 20px 50px;
}

dl.dl-horizontal.dl-invert {
	
	font-size: 18px;
	padding-top: 50px;
}

dl.document-metadata.dl-horizontal.dl-invert {
	
	font-size: 15px;
	padding-top: 20px;

}

div#appliedParams {
	
	border-radius: 10px;
}

div#document.document {
	
	padding-top: 35px;
}

div.documentHeader.row {
	
	width: 1000px;
}

div[id*='doc_codu_'] h1 {

	font-size: 24px;
}

h5.index_title.col-sm-9.col-lg-10 {
	
	font-size: 19px;
}

table#index-row {
	
	width: 900px;
}

div#related-articles {
	
	padding-top: 30px;
	padding-left: 0px;
	margin-left: -10px;
}

div#aac-banner-image {
	
	margin-top: -1px;
}


/* DU global search bar */
.searchContainer .btnSearch { position:relative; top:0px; }
.searchContainer { float:right; width:189px; margin:25px 0 0 0; font-size:.75em; text-align:left; }
.searchContainer { float:right; width:715px; padding:5px 0 0 0; margin:0 10px 0 0; font-size:.75em; text-align:left; line-height:1.244em; }
.searchContainer ol, #globalHeader.compact #globalUtilities ol { float:right; margin:14px 0 0 0; color:#ffffff; line-height:1.244em; }
.searchContainer ol.headerSearchNav { margin:6px 0 0 0; }
.searchContainer ol li, #globalHeader.compact #globalUtilities ol li { display:inline; list-style:none; font-size:0.917em; line-height:1.26em; }
.searchContainer ol.headerSearchNav li { display:block; list-style:none; }
.searchContainer ol.headerSearchNav li.singleSearch { margin-top:8px; }
.searchContainer ol li a { color:#ffffff; }
.searchContainer ol.headerSearchNav li a { font-size:0.909em; line-height:1.4em; font-family:Arial, Helvetica, sans-serif; }
.searchContainer ol.headerSearchNav li a span { text-transform:uppercase; }
.searchContainer .headerSearch { float:right; margin:10px 10px 0 10px; }
.searchContainer .headerSearch input[type='search'] { color:#444; }
.searchContainer .headerSearch input.searchField { position:relative; top:-5px; }
.searchContainer .headerSearch .btnSearch { top:1px; }

