<!DOCTYPE html>
<html>
<head>
  <title>BlacklightDu</title>
  <!-- Blacklight-DU: Removed rails links to application.css and javascript include tag to "application" -->
</head>
<body>

<%= yield %>

</body>
</html>
